@font-face {
  font-family: 'MyCustomFont';
  src: url('/static/itc-serif-gothic-regular-588cef4e7134b.woff') format('woff')
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
    background-color: transparent;
    border: 1px solid #e57a1b;
    color: #e57a1b;
    padding: 1rem;
    cursor: pointer;
}

form {
    font-family: 'MyCustomFont', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    position: static;
    z-index: 1;
}

label {
    margin-right: 1rem;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

input {
    background-color: transparent;
    border: 1px solid #e57a1b;
    color: #e57a1b;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 1.4rem;
}

img {
    height: 100%;
    width: 100%;
}

.image-container {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    position: relative;
    z-index: 9999;
    color: #e57a1b;
    font-family: 'MyCustomFont', sans-serif;
     font-size: 1.2rem;
}

.accuracy {
    width: 35%;
}

.welcome_container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.prediction-container {
    bottom: 10%;
}


.main-title {
    font-family: 'MyCustomFont', sans-serif;
    position: relative;
    z-index: 5;
}

h1 {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 4rem;
    margin: 0 0 10px 0;
    letter-spacing: 5px;
}

.flex-container {
    color: #e57a1b;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 99999;
}

.flex-container2 {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.model_testing_container {
    width: 85%;
    bottom: 5%;
}

.button-container {
    margin-top: 0;
}

a {
    font-family: 'MyCustomFont', sans-serif;
    text-decoration: none;
    color: inherit;
    border: 1px solid #e57a1b;
    padding: 5px;
}

h2 {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 1.2rem;
}

h3 {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 1rem;
}

.stars_background {
    width: 150%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: -15%;
}

.Earth-Container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
    position: absolute;
}

.Earth {
    position: absolute;
    display: flex;
    width: 65%;
    height: 65%;
    left: -25%;
    top: 65%;
    z-index: 3;
    animation: rotateBackground 200s linear infinite;
}

.Satellite {
    width: 3vw;
    height: 3vh;
    bottom: 30%;
    left: 15%;
    position: relative;
    z-index: 3;
    animation: bobUpDown 10s infinite ease-in-out;
}

.Asteroid {
    align-self: start;
    width: 3%;
    height: 3%;
    top: 5%;
    rotate: 20deg;
    left: -10%;
    position: absolute;
    z-index: 3;
    animation: arcLeftRight 5s infinite linear;
    animation-delay: 7s;
}
.Asteroid_2 {
    align-self: start;
    width: 5%;
    height: 5%;
    top: -5%;
    left: 10%;
    rotate: 20deg;
    position: absolute;
    z-index: 3;
    animation: arcLeftRight 7s infinite linear;
     animation-delay: 9s;
}
.Asteroid_3 {
    align-self: start;
    width: 4%;
    height: 4%;
    top: 35%;
    rotate: 20deg;
    left: -10%;
    position: absolute;
    z-index: 3;
    animation: arcLeftRight 6s infinite linear;
    animation-delay: 7.5s;
}
.Asteroid_4 {
    align-self: start;
    width: 3%;
    height: 3%;
    top: -5%;
    rotate: 20deg;
    right: 25%;
    position: absolute;
    z-index: 3;
    animation: arcLeftRight 8s infinite linear;
    animation-delay: 8s;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
        transform: rotate(360deg); /* End rotation at 360 degrees */
    }
}

@keyframes bobUpDown {
    0% {
        transform: translateY(0); /* Start position, no translation */
    }
    40% {
        transform: translateY(-8px); /* Midpoint, move up slightly */
    }
    50% {
        transform: translateY(-10px); /* Midpoint, move up slightly */
    }
    60% {
        transform: translateY(-8px); /* Midpoint, move up slightly */
    }
    100% {
        transform: translateY(0); /* End position, back to start */
    }
}

@keyframes arcLeftRight {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg); /* Start position, no translation */
    }
    100% {
        transform: translateY(0) translateX(3300px) rotate(360deg); /* End position, back to start */
    }
}