{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASTEROIDIA</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<img class="stars_background" src="{% static 'Stars-bg-desktop.svg' %}" alt="stars">
<div class="welcome_container">
    <div class="flex-container">
        <h1 class="main-title">ASTEROIDIA</h1>
        <h2 class="main-title">Asteroid hazard prediction application using machine learning.</h2>
        <h3 class="main-title">Tyler Benson - 011647231</h3>

        <div class="flex-container2">
            <a href="{% url 'predictions' %}">Make a prediction</a>
            <a href="{% url 'model_testing' %}">Model Accuracy and Visuals</a>
            <a href="{% url 'raw_data' %}">Raw Data</a>
        </div>
    </div>

    <div class="Earth-Container">
        <img class="Earth" src="{% static 'planet-3.svg' %}" alt="Earth">
        <img class="Satellite" src="{% static 'satellite-svgrepo-com.svg' %}" alt="Satellite">
        <img class="Asteroid" src="{% static 'asteroid-2-svgrepo-com.svg' %}" alt="Asteriod">
        <img class="Asteroid_2" src="{% static 'asteroid-2-svgrepo-com.svg' %}" alt="Asteriod">
        <img class="Asteroid_3" src="{% static 'asteroid-2-svgrepo-com.svg' %}" alt="Asteriod">
        <img class="Asteroid_4" src="{% static 'asteroid-2-svgrepo-com.svg' %}" alt="Asteriod">
    </div>

</div>

</body>
</html>