{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Performance</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<img class="stars_background" src="{% static 'Stars-bg-desktop.svg' %}" alt="stars">
<div class="welcome_container">
    <div class="flex-container model_testing_container">
        <div class="flex-container2">
            <div class="image-container">
                <!--coded image for non-descriptive method -->
                <img src="data:image/png;base64,{{ confusion_matrix_image }}" alt="Confusion Matrix">
                <p> Confusion Matrix demonstrating the accuracy of the model against test data.</p>
            </div>
            <div class="image-container">
                <!--pre-rendered image for descriptive method -->
                <img src="{% static 'Histogram.png' %}" alt="Histogram">
                <p> Histogram showing the distribution of the maximum and minimum diameter across the data set.</p>
            </div>
            <div class="image-container">
                <!--pre-rendered image for descriptive method -->
                <img src="{% static 'scatterPlot.png' %}" alt="Scatterplot">
                <p> Scatterplot showing the correlation between the diameter of each NEO, and their velocity in the data set.</p>
            </div>
        </div>
        <span></span>
        <span></span>
        <span></span>

        <h2>Model Accuracy</h2>
        <p class="accuracy">The model accuracy is being assessed based on the correct predictions from the test data passed in during training.
            The model's accuracy is: {{ evaluation_results.Accuracy }}</p>


        <div class="flex-container2">
            <a href="{% url 'predictions' %}">Make a prediction</a>
            <a href="{% url 'main' %}">Back to Main Page</a>
            <a href="{% url 'raw_data' %}">Raw Data</a>
        </div>
    </div>

    <div class="Earth-Container">
        <img class="Earth" src="{% static 'planet-3.svg' %}" alt="Earth">
        <img class="Satellite" src="{% static 'satellite-svgrepo-com.svg' %}" alt="Satellite">
        <img class="Asteroid" src="{% static 'asteroid-2-svgrepo-com.svg' %}" alt="Asteriod">
        <img class="Asteroid_2" src="{% static 'asteroid-2-svgrepo-com.svg' %}" alt="Asteriod">
        <img class="Asteroid_3" src="{% static 'asteroid-2-svgrepo-com.svg' %}" alt="Asteriod">
        <img class="Asteroid_4" src="{% static 'asteroid-2-svgrepo-com.svg' %}" alt="Asteriod">
    </div>
    <!-- <a href="{% url 'predictions' %}">Hello World!</a> -->
</div>

</body>
</html>